html,
body {
  padding: 0;
  margin: 0;
  background: #19191f;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Lato", sans-serif;
}
.screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
}
p {
  margin-top: 30px;
}
.description {
  line-height: 1.5;
  background: rgba(24, 24, 56, 0.9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6), -5px -5px 10px rgba(0, 0, 0, 0.3);
  /* 0px 11px 40px -11px inset rgba(0, 0, 0, 1);  */
  border-radius: 3px;
  position: absolute; /*if not absolute, use margin: auto */
  width: 95%;
  max-width: 610px;
  top: 50%; /* it starts from top left corner */
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  padding-bottom: 30px;
}
#description-text {
  font-style: italic;
  font-size: 20px;
}
#description-subtext {
  font-size: 20px;
}
span {
  margin-left: 10px;
  font-style: normal;
}

h1 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.links {
  text-align: center;
  margin-top: 30px;
}
.link:link,
.link:visited {
  background-color: rgba(45, 45, 74, 0.9);
  border-radius: 3px;
  border-style: solid;
  border-color: rgba(63, 65, 88, 0.29);
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 90px;
  margin: 10px 15px;
}

#explore {
  background-color: rgba(0, 184, 101, 0.5);
}
#learn-more {
  background-color: transparent;
  border-color: rgba(0, 184, 101, 0.5);
}
#explore:hover,
#learn-more:hover {
  background-color: rgba(0, 163, 112);
}
#image {
  background-image: url("../images/map3.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#credit-box {
  text-align: center;
  margin-top: 10px;
}
#credit:link,
#credit:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
