@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family:'Montserrat', sans-serif; ;
  font-size: 1em;
  margin: 0;
  background-color:#0d0d0d;
}

.line {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 2px;
  }

.area {
  fill: #f2f2f2;
}

g#xAxisG text, g#yAxisG text {
	stroke: none;
	fill: #f2f2f2;
	font-size: 1em;
}

header, div#source {
	margin-left: 40px;
	margin-bottom: 38px;
}
