<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/css/about.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/6-green-leaf-png.png"
    />
    <meta property="og:image" content="/images/map3.png" />
    <title>Greening From the Rooftops</title>
  </head>
  <body>
    <div class="nav-bar">
      <h1 id="nav-heading">
        Greening From the Rooftops
        <span id="subheader">
          Calculating NYC's Green Roof Potential
        </span>
      </h1>

      <div id="extras">
        <div class="extra"><a id="explore-map" href="/index">Map</a></div>
        <div class="extra"><a id="about" href="/about">About </a></div>
      </div>
    </div>
    <div id="container">
      <div class="headings"><h1>ABSTRACT</h1></div>
      As the climate continues to warm, and extreme weather events are more
      frequent and stronger, New York City must adapt to these changes to
      maintain the health and well-being of its population. Green roofs are a
      way to do so; they provide environmental benefits such as surface
      temperature mitigation, stormwater management, and biodiversity
      conservation that improve the resiliency and adaptive capacity of the
      city. However, even though the benefits of green roofs have been greatly
      studied, and a need to implement them on a widescale in cities is
      inarguable, only 0.1% of NYC’s 1 million rooftops have green roofs.
      Greening From the Rooftops was developed to transform the scientific
      literature on green roofs into a tool that the average person and decision
      maker can use. It visualizes and maps potential rooftops for implementing
      green roofs, and calculates the environmental benefits the potential green
      roof would bring if installed.
      <div class="headings"><h1>DATA SOURCES</h1></div>
      <ul>
        <li>
          <a class="data" href="https://www.nature.org/en-us/"
            >The Nature Conservancy and Azavea Suitability Analysis 
          </a>
        </li>
        <li>
          <a class="data" href="https://zenodo.org/record/1469674#.XrjOUBNKjRY">
            The Nature Conservancy Current Green Rooftops
          </a>
        </li>
        <li>
          <a class="data" href="https://opendata.cityofnewyork.us/"
            >Open Data NYC Building Footprint
          </a>
        </li>
        <li>
          <a
            class="data"
            href="https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page"
            >NYC Planning PLUTO Tax Lot</a
          >
        </li>
      </ul>
      <div class="headings"><h1>ASSUMPTIONS AND LIMITATIONS</h1></div>
      <ul>
        <li>
          Extensive rooftops of sedum 3-5 inches were only considered for the
          benefits calculations.
        </li>
        <li>
          Surface temperature reduction benefits are only felt on the green roof
          and the immediate area around it.
        </li>
        <li>
          Mixed property ownership and tax-exempt property ownership were
          grouped with public ownership for practical reasons.
        </li>
      </ul>
      <div class="headings"><h1>ACKNOWLEDGMENT</h1></div>
      A special thank you to program director and my thesis supervisor, Daniel
      Sauter.
      <br />A special thank you to Mike Treglia from The Nature Conservancy
      and Timon McPhearson, Rositsa Ilieva, Pablo Herreros, and Luis Ortiz from
      The Urban Systems Lab. <br />
      Finally, a very special thank you to my cohort for their encouragement,
      inspiring work, and hilarious times.
    </div>
    <!-- <div class="logos">
      <img
        src="/images/nature_con.png"
        alt="Nature Conservancy"
        height="55"
        width="120"
      />
      <img
        src="/images/urbanSystem.png"
        alt="Nature Conservancy"
        height="70"
        width="100"
      /> -->
    </div>
  </body>
</html>
