<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>

    <link href="./css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/6-green-leaf-png.png"
    />
    <meta property="og:image" content="/images/map3.png" />
    <title>Greening From the Rooftops</title>
  </head>
  <body>
    <div class="nav-bar">
      <h1>
        Greening From the Rooftops
        <span id="subheader"> Calculating NYC's Green Roof Pontential </span>
      </h1>
      <div id="extras">
        <div class="extra"><p id="explore-map">Map</p></div>
        <div class="extra"><a href="/about">About </a></div>
      </div>
    </div>
    <div class="information" id="green-roof-info">
      <span
        class="w3-button w3-display-topright"
        onclick="document.getElementById('green-roof-info').style.display='none'"
        >&times;</span
      >
      <p class="intro-line">
        Rooftop Suitability for Green Roof Potential
      </p>

      <ul class="GR">
        <li>
          Year of Construction:
          <span class="bullets">
            Buildings before the 1970s have rooftops that can hold more weight,
            needed for green roofs.
          </span>
        </li>
        <br />
        <li>
          Slope Angle:
          <span class="bullets"
            >A relatively flat rooftop of slope less than 9.5 degrees is
            required.
          </span>
        </li>
        <br />
        <li>
          Roof Surface Area:
          <span class="bullets"
            >Roof areas at least 1,000 ft<sup>2</sup> were selected because the
            larger the area, the greater the environmental benefits outweigh the
            economic cost. Smaller rooftops can be suitable but are not captured
            here.
          </span>
        </li>
      </ul>
    </div>
    <div class="information" id="benefits-info">
      <span
        class="w3-button w3-display-topright"
        onclick="document.getElementById('benefits-info').style.display='none'"
        >&times;</span
      >
      <p class="intro-line">Environmental Benefits Explained</p>
      <ul class="GR">
        <li>
          Heat Mitigation:
          <span class="bullets">
            Cities are hotter than the surrounding suburbs due to concrete and
            high energy consumption. High temperatures are a public health issue
            in many cities, and especially in New York.
          </span>
        </li>
        <br />
        <li>
          Storm Water Management:
          <span class="bullets"
            >Soil absorbs stormwater runoff, unlike concrete- NYC has a Combined
            Sewer System, and when it is flooded from heavy rain, it spills
            wastewater into surrounding water bodies.
          </span>
        </li>
        <br />
        <li>
          Increased Biodiversity:
          <span class="bullets"
            >In order to continue to have clean air, clean water, and a balanced
            ecosystem, cities need more biodiversity. Green roofs increase
            biodiversity by providing habitat.
          </span>
        </li>
      </ul>
    </div>
    <div id="screen">
      <div id="filtering">
        <span
          onclick="document.getElementById('screen').style.display='none'"
          class="w3-button w3-display-topright"
          >&times;</span
        >

        <div class="filters">
          <h2>Map Filter</h2>
          <div class="select-all">Select All</div>

          <div class="filter-block" id="landuse-filter">
            <p class="filter-label" id="landuse-filter-label">
              Landuse Categories
            </p>
            <div class="landuse-boxes">
              <input
                type="checkbox"
                id="residential"
                name="landuse"
                value="residential"
                checked
              />
              <label for="residential"> Residential</label> <br />
              <input
                type="checkbox"
                id="commercial"
                name="landuse"
                value="commercial"
                checked
              />
              <label for="commercial"> Commercial</label> <br />
              <input
                type="checkbox"
                id="mixed"
                name="landuse"
                value="mixed"
                checked
              />
              <label for="mixed"> Mixed</label> <br />
              <input
                type="checkbox"
                id="manufacturing"
                name="landuse"
                value="manufacturing"
                checked
              />
              <label for="manufacturing"> Manufacturing</label><br />
              <input
                type="checkbox"
                id="public-facilities"
                name="landuse"
                value="public-facilities"
                checked
              />
              <label for="public-facilities"> Public Facilities</label><br />
              <input
                type="checkbox"
                id="other"
                name="landuse"
                value="other"
                checked
              />
              <label for="other">Other</label> <br />
            </div>
          </div>
          <div class="filter-block" id="property-filter">
            <p class="filter-label" id="property-filter-label">
              Property Ownership
            </p>
            <div class="property-boxes">
              <input
                type="checkbox"
                id="private-property"
                name="property"
                value="private"
                checked
              />
              <label for="private"> Private</label>
              <input
                type="checkbox"
                id="public-property"
                name="property"
                value="public"
                checked
              />
              <label for="public"> Public</label>
            </div>
          </div>
          <div class="filter-block" id="roof-filter">
            <p class="filter-label" id="roof-label">
              Roof Area ft<sup>2</sup> <i><span id="valueArea"></span></i>
            </p>

            <div id="sliderArea"></div>
          </div>
          <!-- <div id="building-filter">
         <span id="building-label"
           >Building Height: <span id="valueHeight"></span
         ></span>
         <div id="sliderHeight"></div>
       </div> -->
          <button id="filter-button" disabled onclick="runBuildingQuery()">
            Update
          </button>
          <p id="queryComment"></p>
        </div>
      </div>
      <div id="loading"><span></span><span></span><span></span></div>
    </div>

    <main id="container">
      <!-- <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"> </i>
        <i class="fas fa-times" id="cancel"> </i>
      </label> -->
      <aside class="sidebar">
        <img
          class="leaf"
          src="../images/Leaves-PNG-Transparent-Image.png"
          width="23%"
          alt="leaf"
        />
        <!-- <a href="#"> <i class="fas fa-qrcode"> </i></a> -->
        <!-- <div class="dashboard">
          <h2>Building Classifications</h2> -->

        <p onclick="openFilter()" class="map-filter">
          <i class="fa fa-map-o" id="open" aria-hidden="true"></i> &nbsp&nbsp
          Map Filter
        </p>
        <section class="dashboard">
          <div class="both">
            <h2
              class="section-title"
              onmouseover="document.getElementById('green-roof-info').style.display='block'"
              onmouseout="document.getElementById('green-roof-info').style.display='none'"
            >
              Green Roof Potential
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#fff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
              </svg>
              <!-- <img class="leaf1" src="../images/unnamed1.png" width="7%" alt="leaf2"> -->
              <!-- for <span id="geography">New York</span> -->
            </h2>
          </div>

          <div class="tops">
            <p class="equation">
              Potential is percentage of roofs > 1000ft<sup>2</sup>
              that are suitable for green roofs. NYC has a green roof potential
              of
              <span id="filteredPercentage">19.7%</span>.
            </p>

            <!-- <div class="pDonut"></div> -->

            <!-- <p>
                The filtered New York has a potential of
                <span id="">...</span>
              </p> -->
          </div>
          <div class="potential-graphs">
            <div class="pBar"></div>
          </div>
        </section>
        <div class="dashboard" id="enviro-benefit">
          <h2
            class="section-title"
            onmouseover="document.getElementById('benefits-info').style.display='block'"
            onmouseout="document.getElementById('benefits-info').style.display='none'"
          >
            Environmental Benefits
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="16" x2="12" y2="12"></line>
              <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
          </h2>
          <div class="tops">
            <p class="equation" id="benefit-disclaimer">
              Benefits calculated for extensive green roof.
            </p>
          </div>
          <div id="benefit-box">
            <div class="scene">
              <div class="card habitat">
                <div class="card__face card__face--front">
                  Habitat Increased <br />
                  <span id="habitat-benefit-percentage">...</span>
                </div>
                <div class="card__face card__face--back">
                  Total Area: <span id="habitat-benefit">...</span>
                </div>
              </div>
            </div>
            <div class="scene">
              <div class="card water">
                <div class="card__face card__face--front">
                  Runoff Reduced <br />
                  <span id="water-benefit-percentage">...</span>
                </div>
                <div class="card__face card__face--back">
                  Gallons Retained <br /><span id="water-benefit">... </span>
                </div>
              </div>
            </div>
            <div class="scene">
              <div class="card heat">
                <div class="card__face card__face--front">
                  Heat Reduced <br />
                  <span id="heat-benefit-percentage">[coming soon]</span>
                </div>
                <div class="card__face card__face--back">
                  Temperature Reduced<br /><span id="heat-benefit"
                    >[coming soon]
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <section id="map_wrapper">
        <!-- <div class="dashboard"> -->
        <!-- <div> <p>Clearly, a little goes a long way...</div> </p> -->

        <div id="myMap">
          <p class="benefits-summary">
            Map region has a green roof potential of
            <span id="area-stats">...</span>. This is
            <span id="difference"> ...</span> of the city's potential.
          </p>
          <div id="legend">
            <img src="./images/legend2.png" width="100%" />
          </div>
        </div>

        <!-- </div> -->
      </section>
    </main>

    <script defer src="./js/script.js"></script>
  </body>
</html>
