<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="./css/landing.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/6-green-leaf-png.png"
    />
    <meta property="og:image" content="/images/map3.png" />
    <title>Greening From the Rooftops</title>
  </head>
  <body>
    <div id="image">
      <div class="screen">
        <div class="description">
          <h1>
            Greening From the Rooftops
          </h1>
          <p id="credit-box">
            <a href="https://nourzein.me" target="_blank" id="credit"
              >By Nour Zein</a
            >
          </p>
          <p id="description-text">
            "Nature plays a crucial role in the life of New York City. Green
            roofs atop the city’s buildings offer environmental, economic, and
            public health benefits to our communities. Yet, less than 0.1% of
            the city's 1 million buildings have green roofs."
            <span>
              - The Nature Conservancy
            </span>
          </p>

          <p id="description-subtext">
            Rooftops are an untapped resource. This project visualizes and maps
            potential rooftops for implementing green roofs, and calculates the
            environmental benefits they would bring if installed.
            <!-- It is based on scientific research conducted
          by The Nature Conservancy and the Urban Systems Lab. If you wish to
          learn more about the science behind the calculations, click learn
          more. Otherwise, head to the tool and start exploring your
          neighborhood!
        </p> -->
          </p>
          <div class="links">
            <a href="/index" class="link" id="explore">Explore Map</a>
            <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
            <a href="/about" class="link" id="learn-more">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
